#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

p:last-child {
  margin-bottom: 2rem;
}

p {
  cursor: pointer;
}

p:hover {
  transform: scale(1.5);
}

.puppies {
  border-bottom: 3px solid black;
  width: 18rem;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

li {
  padding: 5px 0;
}